# .gitignore

# Ignore the uploads directory
/uploads
/__pycache__
# Ignore the static directory
/static/videos
/checkpoints
/Thin-Plate-Spline-Motion-Model
/venv-back
/ven
/content
Copy_of_Thin_Plate_Spline_Motion_Model.ipynb
