flask==2.1.1
matplotlib
numpy==1.22.3
pip==22.0.4
requests==2.27.1
scipy==1.8.0
setuptools==65.5.1
spacy==3.2.4
pygame
moviepy
gtts
sumy==0.9.0
urllib3==1.26.9
waitress==2.1.2
werkzeug==2.2.3
wheel==0.38.1
bs4
librosa==0.8.0
opencv-contrib-python==4.6.0.66
opencv-python==4.5.5.64
opencv-python-headless==4.6.0.66
torch==1.12.1
torchvision==0.13.1
numba==0.56.4
tqdm==4.63.0
ffmpeg==1.4
pydub==0.25.1
PyQt5==5.15.9
PyQtWebEngine==5.15.6
